body{
    overflow:-x hidden;
}

body, ul, li, h1, h2 a{
    margin:0;
    padding: 0;
    font-family: Arial;
}

header h1{
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bolder;
    padding: 15px;
}

h2{
    text-align: center;
    color: red;
}

nav li a{
    text-align: center;
    display: block;
    background-color: red;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 27px;
}

p{
    font-weight: bold;
    text-decoration: underline;
    border: 8px solid red;
    display: inline-block;
    border-radius: 24px;
    padding: 6px;
}

p2{
    font-weight: bold;
}